<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="/style.css">
        {% if title %}
            <title>{{ title }}</title>
        {% endif %}
    </head>

    <body>
	<div class="wrapper">
	    <div class="header">
		<h1>{{ header }}</h1>
		<ul>
		    {% for name, href in __links__ %}
		        <li><a href="{{ href }}">{{ name }}</a></li>
		    {% endfor %}
		</ul>
	    </div>
	    {% if __posts__ %}
		<div class="posts">
                    <ul>
                        {% for post in __posts__ %}
                            <li>{{ post.date.strftime('%d %B, %Y') }} - <a href="{{ post.__href__ }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
		</div>
	    {% endif %}

	    {% if __content__ %}
                {% if __post_title__ %}
                    <h1 class="post_title">{{ __post_title__ }}</h1>
                    <p class="post_date">{{ __post_date__.strftime('%d %B, %Y') }}</p>
	        {% endif %}
		<div class="content">
		    {{ __content__ }}
		<div>
	    {% endif %}
            <div class="footer">
               {% if footer %}
                   <p>{{ footer }}</p>
               {% endif %}
            </div>
        </div>
    </body>

</html>
