html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    color: #b2afac;
    background-color: #42413d;
    font-family: "courier", monospace;
}

pre {
    overflow: auto;
    border-left: 2px dotted #ee7500;
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
}

a {
    color: #ee7500;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px dotted #ee7500;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header ul li {
    display: inline;
    padding: 0;
    padding-left: 10px
}

.posts li {
    padding-top: 10px;
}

.posts ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.posts li:before {
    content: "$";
    padding-right: 5px;
}

.wrapper{
    max-width: 800px;
    margin: auto;
    padding: 40px 30px 60px 30px
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: small;
}

@media screen and (max-width: 600px) {
    .header {
        display: block;
    }

    .header ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
}

